

<!--This page is about the creators of OneCampus-->
{% extends "layout.html" %}

{% block title %}
    Edit Club
{% endblock %}

{% block main %}
<div class="row">
            <div class="col-md-12">
                <h2 align="center">Meet the Team</h2>
            </div>
</div>
        <div class="row">
            <div class="col-md-6">
                <h2></h2>
            </div>
        </div>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
        <section class="team">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="col-lg-12">
                            <div class="row pt-md">
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                                    <div class="img-box">
                                        <img src="https://i.imgur.com/zWIddhL.jpg" class="img-responsive">
                                    </div>
                                    <h1 style="font-size:170%;">Rebecca Lisk</h1>
                                    <h2 style="font-size:100%;">A.B Candidate in Everything</h2>
                                    <p style="font-size:100%;">Rebecca is aiming for the highly coveted Goldman Sachs internship. Hit her up.</p>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 profile">
                                    <div class="img-box">
                                        <img src="https://i.imgur.com/7awUIpe.jpg" class="img-responsive">
                                    </div>
                                    <h1 style="font-size:170%;">Lin Zhu</h1>
                                    <h2 style="font-size:100%;">A.B Candidate in CS</h2>
                                    <p style="font-size:100%;">Lin loves sushi.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

{% endblock %}
