{% extends "layout.html" %}

{% block title %}
    Edit Club
{% endblock %}

{% block main %}
<div class="content">
    <h4>Add a New Event</h4>

    <form action="/addevent" method="post">

        <!--Create dropdown menu with of users' clubs-->
        <div>Choose a club to add an event for</div>
        <select input type="text" name="clubName" method="post">
          {% for name in clubNames %}
            <option value= "{{name["clubName"]}}">{{ name["clubName"] }}</option>
          {% endfor %}
        </select>
        <p></p>

        <!--Event Name-->
        <div class="form-group">
            <input class="form-control" name="eventName" placeholder="Event Name" type="text"/>
        </div>

        <!--Date-->
        <div class="form-group">
            <input class="form-control" name="date" placeholder="Date" type="date"/>
        </div>

        <!--Time-->
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="time" placeholder="Time" type="time"/>
        </div>

        <!--Location-->
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="location" placeholder="Location" type="text"/>
        </div>

        <!--Description-->
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="description" placeholder="Description" type="text"/>
        </div>

        <!--Public or private-->
        <div>
            <select input type="text" name="type" method="post">
                <option value= public>Public event</option>
                <option value= private>Private event</option>
            </select>
        </div>
        <p></p>

        <!--Submit -->
        <button type="submit" class="btn btn-info btn-fill pull-left">Submit</button>
        <div class="clearfix"></div>
    </form>
</div>
{% endblock %}
