{% extends "layout.html" %}

{% block title %}
    Become Admin
{% endblock %}

{% block main %}
    <div class="content">
      <h4>Become an Admin</h4>
        <form action="/becomeadmin" method="post">

        <div>Choose a club to become an admin of</div>

        <!--Create dropdown menu with of users' stock symbols-->
        <select input type="text" name="clubName" method="post">
          {% for name in clubNames %}
            <option value= {{ name["clubName"] }}>{{ name["clubName"] }}</option>
          {% endfor %}
        </select>

        <p></p>
        <p></p>

        <!--Become Admin-->
        <p>
          <button type="submit" class="btn btn-info btn-fill pull-left">Become an Admin</button>
          <div class="clearfix"></div>
        </p>
      </form>
  </div>
{% endblock %}
