{% extends "layout.html" %}

{% block title %}
    Edit Club
{% endblock %}

{% block main %}
        <div class="content">

            <h3 align="center">{{clubInfo["clubName"]}}</h3>

            <div class="container-fluid">
                <div class="row">

                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">About {{clubInfo["clubName"]}}</h4>
                            </div>
                            <div class="content">
                                {{clubInfo["description"]}}
                            </div>
                        </div>
                    </div>
                </div>

                    <div class="col-md-6">
                        <div class="card">

                            <div class="header">
                                <h4 class="title">Regular Meeting Times</h4>
                            </div>
                            <div class="content">
                                {{clubInfo["meetingTimes"]}}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Notifications</h4>
                                <p class="category">Announcements & tasks</p>
                            </div>
                            <div class="content">
                                {{clubInfo["notification"]}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">Next Meeting</h4>
                            </div>
                            <div class="content">
                                {{clubInfo["nextMeeting"]}}
                            </div>
                        </div>
                    </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">Location</h4>
                            </div>
                            <div class="content">
                                {{clubInfo["location"]}}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">Upcoming Events</h4>
                            </div>
                            <div class="content">
                                {{clubInfo["upcomingEvent"]}}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="card ">
                            <div class="header">
                                <h4 class="title">Contact Information</h4>
                            </div>
                            <div class="content">
                                {{clubInfo["contact"]}}
                            </div>
                        </div>
                    </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="card">

                            <div class="header">
                                <h4 class="title">Notes</h4>
                            </div>
                            <div class="content">
                                {{clubInfo["notes"]}}
                            </div>
                        </div>
                    </div>
                </div>

{% endblock %}