<!--Main html page, everything (i think) will extend this because the sidebar and top bars and about me will always be on every page-->
{% extends "layout.html" %}

{% block title %}
    Edit Club
{% endblock %}

{% block main %}
<div class="content">
            <div class="container-fluid">
            <!--My Clubs:-->
            <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">My Clubs</h4>
                            </div>
                            <div class="content all-icons">
                                <div class="row">
                                    {% for club in clubs %}
                                    <a href="http://ide50-linzhu.cs50.io:8080/club/{{club["id"]}}">
                                    <div class="font-icon-list col-lg-2 col-md-3 col-sm-4 col-xs-6 col-xs-6">
                                        <div class="font-icon-detail"><i class="pe-7s-science"></i>
                                            <input type="text" value="{{club["clubName"]}}">
                                        </div>
                                    </div>
                                    </a>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

            <!--Upcoming Events-->
                    <div class="col-md-12">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">My Events</h4>
                                <p class="category">Events only for members of your clubs</p>
                            </div>
                            <div class="content table-responsive table-full-width">
                                <table class="table table-hover table-striped">
                                    <thead>
                                        <th>Date</th>
                                        <th>Time</th>
                                    	<th>Event Name</th>
                                    	<th>Location</th>
                                    	<th>Description</th>
                                    	<th>Add to Calendar</th>
                                    </thead>
                                    <tbody>
                                        {% for event in privateEvents %}
                                        <tr>
                                        	<td>{{event["date"]}}</td>
                                        	<td>{{event["time"]}}</td>
                                        	<td>{{event["eventName"]}}</td>
                                        	<td>{{event["location"]}}</td>
                                        	<td>{{event["description"]}}</td>
                                        	<td>
                                                <!--Button code -->
                                                <div title="Add to Calendar" class="addeventatc">
                                                Add to Calendar
                                                <span class="start">{{event["date"]}}{{event["time"]}}</span>
                                                <!--<span class="end">12/15/2017 10:00 AM</span>-->
                                                <span class="timezone">America/Boston</span>
                                                <span class="title">{{event["eventName"]}}</span>
                                                <span class="description">{{event["description"]}}</span>
                                                <span class="location">{{event["location"]}}</span>
                                            </div>
                                        	</td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

{% endblock %}




