{% extends "layout.html" %}

{% block title %}
    Edit Club
{% endblock %}

{% block main %}
    <h2>Edit Club Information</h2>

    <form action="/editclub" method="post">

        <!--Club Name-->
        <!--<div class="form-group">-->
        <!--    <input autocomplete="off" autofocus class="form-control" name="clubName" placeholder="Club Name" type="text"/>-->
        <!--</div>-->

        <label>

      <label>

        <div>Choose club information to edit</div>

        <!--Create dropdown menu with of users' clubs-->
        <select input type="text" name="clubName" method="post">
          {% for name in clubNames %}
            <option value= {{ name["clubName"] }}>{{ name["clubName"] }}</option>
          {% endfor %}
        </select>

      </label>

        <!--New Description-->
        <div class="form-group">
            <input class="form-control" name="description" placeholder="New Description" type="text"/>
        </div>

        <!--New Meeting Location-->
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="location" placeholder="New Location" type="text"/>
        </div>

        <!--New Meeting Times-->
        New Meeting Times
        <div class="form-group">
            <input class="form-control" name="meetingTimes" placeholder="New Meeting Times" type="datetime-local"/>
        </div>

        <!--Next Meeting-->
        Next Meeting
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="nextMeeting" placeholder="Next Meeting" type="datetime-local"/>
        </div>

        <!--Notification-->
        <div class="form-group">
            <input class="form-control" name="notification" placeholder="Notification" type="text"/>
        </div>

        <!--Notes-->
        <div class="form-group">
            <input class="form-control" name="notes" placeholder="Notes" type="text"/>
        </div>



        <!--Submit -->
        <button class="btn btn-primary" type="submit">Edit Club</button>

    </form>
    </div>
{% endblock %}
