{% extends "layout.html" %}

{% block title %}
    Edit Club
{% endblock %}

{% block main %}
    <div class="content">
        <h2>Search for Clubs</h2>

        <label class="container">
          <input type="checkbox" checked="checked">
          <span class="checkmark"></span>
        </label>
        <label class="container">Two
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">Three
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>
        <label class="container">Four
          <input type="checkbox">
          <span class="checkmark"></span>
        </label>

    </div>
{% endblock %}
