{% extends "layout.html" %}

{% block title %}
    Edit Club
{% endblock %}

{% block main %}
        <div class="content">
            <div class="container-fluid">
                <div class="card">
                    <div class="header">
                        <h4 class="title">Notifications</h4>
                    </div>
                    <div class="content">
                        <div class="row">
                            <div class="col-md-12">
                                {% for notification in notificationsList %}
                                <div class="alert alert-info">
                                    <span>
                                        {{notification["clubName"]}}: {{notification["notification"]}}
                                    </span>
                                </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}